/.nx/cache
/.nx/workspace-data
/.conductor
.DS_Store
*.tsbuildinfo
node_modules
.modelfetch
dist
.source
.next
.wrangler
cdk.out
.netlify
.branches
.temp
/apps/example-netlify-*/apps
/apps/example-fastly-*/bin
/apps/example-fastly-*/pkg
