{
  "imports": {
    "@modelcontextprotocol/sdk": "npm:@modelcontextprotocol/sdk@<%= versions['@modelcontextprotocol/sdk'] %>",
    "@modelfetch/deno": "npm:@modelfetch/deno@<%= versions['@modelfetch/deno'] %>",
    "tslib": "npm:tslib@<%= versions['tslib'] %>",
    "zod": "npm:zod@<%= versions['zod'] %>"
  },
  "tasks": {
    "start": "deno run -A ./src/index.js"
  }
}