import handle, { getEndpoint } from "@modelfetch/deno";

import server from "./server.ts";

handle(server, {
  onListen: (address) => {
    console.log(`MCP server is available at ${getEndpoint(address)}`);
  },
});