{
  "name": "<%= name %>",
  "version": "<%= version %>",
  "license": "MIT",
  "type": "module",
  "exports": {
    ".": {
      "development": "./src/index.ts",
      "types": "./dist/index.d.ts",
      "import": "./dist/index.js"
    }
  },
  "files": [
    "dist"
  ],
  "devDependencies": {
    "create-eslint-config": "workspace:^"
  }
}
