{
  "name": "<%= projectName %>",
  "version": "0.0.1",
  "description": "<%= projectTitle %> (built with ModelFetch)",
  "private": true,
  "type": "module",
  "main": "./src/index.js",
  "scripts": {
    "start": "bun ."
  },
  "dependencies": {
    "@modelcontextprotocol/sdk": "<%= versions['@modelcontextprotocol/sdk'] %>",
    "@modelfetch/bun": "<%= versions['@modelfetch/bun'] %>",
    "tslib": "<%= versions['tslib'] %>",
    "zod": "<%= versions['zod'] %>"
  }
}
